*{
margin: 0;
padding: 0;
box-sizing: border-box;

}
.App {
  text-align: center;
  overflow: hidden;
}

.footer{
  padding: 10px;
}
.footer ul li{
  list-style-type: none;
}

.footer ul li a {
  padding: 0 15px;
  color: white;
  font-size: 28px;
}
.header-content{
 background-color: #555;
 opacity: 0.75; 
}

